= simple_form_for([:users, workout_schedule]) do |f|
  = f.error_notification

  .row.mb-4
    .col-md-4
      = f.input :scheduled_on, as: :date

  .form-actions
    = f.button :submit, class: "btn btn-primary"
    = link_to "戻る", users_workout_schedules_path, class: "btn btn-link"
